* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

